<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Formularz zgłoszeniowy</title>
  <link rel="stylesheet" href="css/report.css">
</head>
<body>

<div class="form-container">
  <form action="/reports/save" method="post">
    <h2>Formularz Zgłoszeniowy</h2>

    <div class="form-group">
      <label for="id">Id zgłoszenia:</label>
      <input type="text" id="id" name="id">
    </div>

    <div class="form-group">
      <label for="date">Data zgłoszenia:</label>
      <input type="date" id="date" name="date">
    </div>

    <div class="form-group">
      <label for="reporter">Osoba zgłaszająca:</label>
      <input type="text" id="reporter" name="reporter">
    </div>

    <div class="form-group">
      <label for="assignee">Osoba przypisana:</label>
      <input type="text" id="assignee" name="assignee">
    </div>

    <div class="form-group">
      <label for="content">Treść Zgłoszenia:</label>
      <textarea id="content" name="content"></textarea>
    </div>

    <div class="form-group">
      <label for="address">Adres Zgłoszenia:</label>
      <input type="text" id="address" name="address">
    </div>

    <button type="submit">Wyślij</button>
  </form>
  <p th:if="${message}" class="message">${message}</p>
</div>

</body>
</html>
